    <strong>Avatar path:</strong>
    <%= @article.image %>
    <% if @article.image.url.present?%>
        <%= image_tag @article.image.url %>
    <% end %>
<h1> <%= @article.title %> </h1>
<p> <%= @article.text %> </p>
<%= link_to "記事一覧に戻る",articles_path %>