    <p><strong>Avatar path:</strong>
    <%= @user.avatar_path %></p>
    <p><%= image_tag @user.avatar_path %></p>
<h1> <%= @article.title %> </h1>
<p> <%= @article.text %> </p>
<%= link_to "記事一覧に戻る",articles_path %>